<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<title> Bionik </title>
	
    <link rel="shortcut icon" href="img/trans.png" />
	<link rel="apple-touch-icon" sizes="128x128" href="/img/appicon.png">
	<link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/my-app.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

</head>
<body>

	<div id="view-1" class="view tab view-main active" data-page="index-1">
		<div class="navbar layout-dark"> <!-- Dark Theme Applied -->
			<div class="navbar-inner">
				<div class="center sliding" style="left: 642.5px;">Home</div>
			</div>
		</div>	
		<div class="pages navbar-through">
			<div data-page="index-1" class="page">
				<div class="page-content">
					<div class="content-block-title">
						<center>     
							<p style="text-align:center;">
								<img src="img/trans.png" width="200px">
							</p>
							<h1 class="text color-text-flow"> Bionik Hub </h1>
							<h2 class="text color-text-flow" style="margin-top: -10px;"> Beta </h2>
						</center>
						</div>
					<div>
					<center> 
						<h1 class="text color-text-flow" style="font-size: 2.25vh; margin-top: -10px;"> KHM </h1>
					</center>
					</div><br>	

					<div class="content-block-title" style="margin-top: -10px"><h2>ABOUT</h2></div>
					<div class="card" style="margin-top: -10px">
					<div class="card-header"><b>Welcome to BionikHub!</b></div>
					<div class="card-header">The Central Third Party Appstore Service. <br> Make sure to follow us on Twitter as we will alarm you on any resigning and or addition of applications on our service. Feel free to ask us questions also.</div>
					<div class="list-block media-list">

					</div>
				</div><br>

					<div class="content-block-title" style="margin-top: -10px">
						<h2>BIONIK Team</h2>
					</div>
					<div class="card" style="margin-top: -10px">
						<div class="card-header">TEAM</div>
							<div class="list-block media-list">
								<div class="card-content lazy lazy-fadeIn">
									<div class="list-block media-list">
										
										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1203646959468204032/Bkfz_edz_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Bionik</div>
												<div class="" style="margin-right: 20px;">
													<!-- <a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/BstoreIOS')">TWITTER</a> -->
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" href="#view-2" submitTwitter('bionik');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">Official Account</div>
										</div>
										</li>
										
										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/983100386151104512/AWtVvyNL_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">DJFeelOfficial</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/DJFeeLOfficiaI'); submitTwitter('djfeelofficial');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">Supporter</div>
										</div>
										</li> 
										 
									</div>
								</div>
							</div>
						</div> <br> <br>

						<div class="content-block-title" style="margin-top: -10px"><h2>Popular Apps</h2></div>
						<div class="card" style="margin-top: -10px">
						<div class="card-header">APPS</div>
						<div class="list-block media-list">
							<div class="card-content lazy lazy-fadeIn">
								<div class="list-block media-list">
								  
								<div id="popular-apps"></div>

								</div>
							</div>
						</div>
					</div>

					<div class="content-block-title"><h2>Terms and Conditions</h2></div>
					<div class="card">
						<div class="list-block media-list">
							<div class="card-content lazy lazy-fadeIn">
								<div class="list-block media-list">
									<li class="item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="app-title">Legal Statements</div>
												<a href="ToS.html" class="button button-fill button-round" onclick="submitLegal();" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a>
											</div>
										</div>
									</li>    
								</div>
							</div>
						</div>
					</div><br>


						<div class="content-block-title" style="margin-top: -10px">
							<h2>Sources</h2>
						</div>
						<div class="card" style="margin-top: -10px">
						<div class="card-header">3RD PARTY STORES</div>
							<div class="list-block media-list">
								<div class="card-content lazy lazy-fadeIn">
									<div class="list-block media-list">
										
										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1198371611419693056/QYNy-2pj_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Ignition</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/TryIgnition'); submitHomeSource('Ignition');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>
										
										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1084347611253944320/RMag_5c__400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Top Store</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/TopStore12'); submitHomeSource('TopStore');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/875904208993648640/TubOLdYs_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Appvalley</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/App_Valley_vip'); submitHomeSource('AppValley');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1172110767056924672/C7ffDMIQ_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Tweakbox</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/usetweakbox'); submitHomeSource('TweakBox');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1183929081164943360/pCEXaf-M_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">IOSNinja</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/iosninja_io'); submitHomeSource('IOSNinja');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1041622852896620544/64l3Eg7A_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">CoconutX</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/cokernut_x'); submitHomeSource('CoconutX');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1053003638443036672/UhwU_4du_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">IOSGods</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/iOSGodsCom'); submitHomeSource('IOSGods');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/1155768313781379077/M4BMFCfC_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">FlekSt0re</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/FlekSt0re'); submitHomeSource('Flekstore');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/796862544790982656/VA7rUFwQ_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">Emus4u</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/Emus4you'); submitHomeSource('Emus4u');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img class="lazy-fadeIn lazy-loaded" width="44" srcset="https://pbs.twimg.com/profile_images/945699436608524288/oM1Y_3vh_400x400.jpg">
											</div>
										<div class="item-inner">
											<div class="item-title-row">
												<div id="app1" class="item-title">IOSEmus</div>
												<div class="" style="margin-right: 20px;">
													<a class="button button-fill button-round" id="twitter-bionik" style="background: #F0F1F6; color: #007AFF; font-weight:bold;" onclick="window.open('https://twitter.com/iOSEmusTeam'); submitHomeSource('IOSEmus');">TWITTER</a>
												</div>
											</div>
											<div class="app-subtitle">3rd Party Appstore</div>
										</div>
										</li>
										 
									</div>
								</div>
							</div>
						</div>  
				
					<div class="content-block-title"><h2>Submission of Apps</h2></div>
						<div class="card">
							<div class="list-block media-list">
								<div class="card-content lazy lazy-fadeIn">
									<div class="list-block media-list">
										<li class="item-content">
											<div class="item-inner">
												<div class="item-title-row">
													<div class="app-title">Request Apps</div>
													<a onclick="window.open('mailto:kneehowmasup@gmail.com?subject=Blackstore App Suggestion &body=My App Suggestion Is:'); submitRequest()" class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">SUBMIT</a>
												</div>
											</div>
										</li>    
									</div>
								</div>
							</div>
						</div><br>
					</div> 
				</div>
			</div>
		</div>


		<div id="view-2" class="view tab" data-page="index-2">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding" style="left: 642.5px;">Apps</div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="index-2" class="page">
                    <div class="page-content">
                        <div class="content-block-title"><h1>Categorised Apps</h1></div>
                        <div class="slideshow-container">
                            <p style="text-align:center; align-content: center;"> <img class="mySlides fade" src="img/bannerone.png" style="width:100%"> </p>
                            <p style="text-align:center; align-content: center;"> <img class="mySlides fade" src="img/bannertwo.png" style="width:100%"> </p>
                  </div>            
				        <div class="content-block-title" style="margin-top: -10px"><h2>Categories</h2></div>
                        <div class="card" style="margin-top: -10px"><div class="card-header">Jailbreaks<a href="jailbreaks.html" class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a></div></div>
                        <div class="card"><div class="card-header"> Tweaked <a href="tweaked.html" onclick="appCatLoad('Tweaked'); submitCategoryApps('Tweaked')" class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a></div></div>	
                        <div class="card"><div class="card-header"> Entertainment <a href="entertainment.html" onclick="appCatLoad('Entertainment'); submitCategoryApps('Entertainment')"  class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a></div></div>
                        <div class="card"><div class="card-header"> Emulators <a href="emulators.html" onclick="appCatLoad('Emulators'); submitCategoryApps('Emulators')"  class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a></div></div>
                        <div class="card"><div class="card-header"> Games/Paid Apps <a href="games.html" onclick="appCatLoad('Games'); submitCategoryApps('Games')"  class="button button-fill button-round" style="background: #F0F1F6; color: #007AFF; font-weight:bold;">OPEN</a></div></div> <br>
                    </div>
                </div>
            </div>
        </div> 

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

</body>
</html>